# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*$py.class

# Django migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# VS Code settings
.vscode/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Python virtual environment
venv/
env/
ENV/
.venv/
